ACTION=="add", SUBSYSTEM=="input", KERNEL=="event*" ATTRS{id/vendor}=="057e", ATTRS{id/product}=="2006", TAG+="systemd", TAG+="uaccess", ENV{SYSTEMD_USER_WANTS}="custom-joycon-user@.service"
ACTION=="add", SUBSYSTEM=="leds", KERNEL=="*:057E:2006*player*" RUN+="/usr/bin/chmod a+w $sys$devpath/brightness"
